<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Requestron | Demo</title>
</head>
<body>
    <header>
        <h1>Email Requestron</h1>
    </header>
    <div class="container">
        <form action="#" method="post">
            <label for="form_id">Name</label>
            <input type="text" id="form_id">
        </form>
    </div>
</body>
</html>